body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menus {
    display: flex;
    gap: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #0c2957;
    text-transform: uppercase;
}
.menu-item {
    cursor: pointer;
}
.menu-item:hover {
    color: #fd4a36;
}
.contact-header-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 30px;
    background-color: #0c2957;
    color: #fff;
    cursor: pointer;
}
.bar-icon {
    width: 25px;
    fill: #0c2957;
}
.bars {
    display: none;
}
.logo img {
    height: 50px;
}

.sidebar {
    display: none;
    position: absolute;
    z-index:1;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 5px 8px hsla(0, 0%, 83%, 0.8);
    height: 100vh;
    max-width: 250px;
    padding: 70px 30px 30px;
    position: fixed;
    top: 0;
    transition: all 0.2s linear;
    width: 45%;
}
.close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
}
.logo-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #002840;
}
.menu-name-sidebar {
    padding: 10px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #002840;
}
footer {
    background-color: #0c2957;
    color: #fff;
    padding: 40px 20px;
    font-family: poppins;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px; */
  }
  .menus a {
    text-decoration: none;
    color: #0c2957;
  }

  .menus-sidebar a{
    text-decoration: none;
    color: #0c2957;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .logo-footer {
    width: 200px;
    height: auto;
    margin-top: 1em;
}
@media only screen and (max-width: 768px) {
    .menus {
        display: none;
    }
    .footer-section {
        flex: 1 0 100%;
        margin-right: 0;
      }
    .contact-us-btn{
        display: none;
    }
    .bars {
        display: block;
    }
}
